
body{
    font-family: arial;
    color: white;
    background: #37598b;
    font-weight: bold;
}
/* Cabeçalho Estilo*/
.cabecalho{
    background: #200e2b;
    padding: 15px 0;
}
.titulo-principal{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

/* conteudo body*/

.conteudo{
    margin: 0 auto;
    width: 940px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}   

/* Pedra, Papel e Tesoura */
.opcao-de-jogada{
    border:2px solid rgba(255, 255, 255, 0.753);
    width: 160px;
    height: 130px;
    padding: 15px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 10px;
}
.opcao-de-jogada:hover{
    border-radius: 100%;
    border:2.3px solid rgb(0, 217, 255);
    background: rgb(0, 217, 255);
}
.opcao-de-jogada img{
    width: 90%;
    height: 100%;
    align-items: center;
}

/* conteudo jogada*/
.conteudo-jogadas{
    width: 100%;
}
.placar{
    display: flex;
    font-size: 30px;
    justify-content: space-around;
    margin: 60px 0;
}
.jogada{
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 25px;
    gap: 12px;
}